body {
  background-color: rgb(250, 214, 160);
}
.App {
}
.searchBar {
  margin-left: 41%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 400px;
  font-size: 19px;
  text-align: center;
  border: solid 2px rgb(116, 0, 0);
}

.restaurantImg {
  width: 150px;
  height: 150px;
  border: solid 2px rgb(116, 0, 0);
  }

.menuItemImg {
  width: 150px;
  height: 150px;
}
.line {
  border-bottom: 4px solid rgb(190, 187, 187);
}

.restaurantHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 4px solid rgb(116, 0, 0);
  padding-bottom: 1%;
  padding-top: 1%;
}

.restaurantHomeText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-top: 3%;
}

.homeMenuButton {
  height: 70px;
  width: 150px;
  font-size: 16px;
  border: solid 2px rgb(116, 0, 0);
}

.alignCenter {
  text-align: center;
}
.loginInsertBox {
  height: 40px;
  width: 180px;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 1%;
}

.loginButton{
  margin-top: 25px;
  width: 197px;
  height: 45px;
  font-size: 20px;
}

.padding {
  padding: 1%;
}

.padding5 {
  padding: 5%;
}
.paddingBottom {
  margin-left: auto;
}

.barBackground{
  background-color: rgb(116, 0, 0);
  color: white;
  height: 130px;
  border: 5px solid rgb(65, 0, 0);
}

.barElements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 5px;
}
.logo{
  margin-right: auto;
  font-family: cursive;
  font-size: 70px;
  margin-top: auto;
  color: white;
  margin-bottom: auto;
  text-decoration-color: transparent;
}

.barButtons{
  margin-right: 10%;
  display: flex;
  margin-top: 30px;
  font-size: 20px;   
}

.kirjBut{
  font-size: 15px;
  padding: 15px 17px;
  cursor: pointer;
}

.rekBut{
  font-size: 15px;
  padding: 15px 3px;
  margin-left: 5%;
  cursor: pointer;
}

.restaurantWrapper {
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
}

.restaurantDetails {
  padding: 20px 0px;
}

.restaurantDetails div i {
  padding: 5px 10px;
}

.restaurantMenuFunctions {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  display: flex;
}

.menuSearch input {
  height: 40px;
  font-size: 19px;
  text-align: center;
  border: solid 2px rgb(116, 0, 0);
}


.restaurantMenuFunctions div {
  padding: 5px 10px;
}

.restaurantMenuFunctions .menuSearch {
  width: 30%;
}

.menuDishItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dishItem {
  display: flex;
  width: 300px;
}

.dishDetails {
  padding-left: 10px;
  min-width: 200px;
}

.addToCartIcon {
  padding: 40px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}