body {
  background-color: rgb(240, 236, 230);
}

.App {
  background-color: rgb(240, 236, 230);
}

.food4uTopic {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  justify-content: space-between;
  text-align: center;
  font-size: 70px;
  border-bottom: thick;

}
.topicButton {
 margin-left: 10%;
}

.searchBar {
  margin-left: 10%;
  height: 50px;
  width: 400px;
  font-size: 19px;
  text-align: center;
}

.restaurantImg {
  width: 150px;
  height: 150px;
}

.menuItemImg {
  width: 150px;
  height: 150px;

}



.line {
  border-bottom: 4px solid rgb(190, 187, 187);
}

.restaurantHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 4px solid rgb(190, 187, 187);
  padding-bottom: 1%;
  padding-top: 1%;
}
.restaurantHomeText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-top: 3%;
}
.homeMenuButton {
  height: 70px;
  width: 150px;
  font-size: 16px;
}
.paddingTop {
  border-top: 4px solid rgb(235, 73, 73);
  padding-top : 1%;
}
.marginTop {
  margin-top: 2%;
}
.alignCenter {
  text-align: center;
}
.loginInsertBox {
  height: 40px;
  width: 180px;
  font-size: 16px;
  padding-left: 10px;
}
.padding {
  padding: 1%;
}
.padding5 {
  padding: 5%;
}