.App {
  background-color: rgb(240, 236, 230);
}

.food4uTopic {
  text-align: center;
  font-size: 70px;
  border-bottom: thick;
}

.restaurantImg {
  width: 150px;
  height: 150px;
}
.restaurantHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 4px solid rgb(190, 187, 187);
}
.restaurantHomeText {
  display: flex;
  flex-direction: column;
  width: 800px;
}
